:root {
--beige: #f5efe0;
--btn-bg: #ffffff;
--btn-hover: #f0f0f0;
--accent: #111;
}

@font-face {
  font-family: 'LuongTuong';
  src: url('font/LuongTuong.otf') format('truetype');
}

html, body {
  height: 100%;
  margin: 0;
  background: #fff7e6;
  color: var(--accent);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

h1{
  font-family: 'LuongTuong';
  font-size: 135pt;
  font-weight: normal;
  position: fixed;
  top: 5px;          
  left: 50%;           
  transform: translateX(-50%);
  margin: 0;
  text-align: center; 
  white-space: nowrap;
}

h2{
  font-size: 30pt;
  margin-top: 10px;
  margin-bottom: 0px;
}

video {
  display: block;
  width: 99.89%;
  height: fit-content;
  margin-top: 140px;
  border: 1px solid #000;  
}

.button-container {
  display: flex;
  justify-content: center;  
  align-items: center;
  gap: 20px;
}

.btn {
  display: inline-flex;         
  justify-content: center;     
  align-items: center;         
  width: 300px;                  
  padding: 10px 0;               
  background: #fff7e6;
  border: 2px solid #000;
  border-radius: 50px;
  cursor: pointer;
  color: #000;
  font-size: 20px;
  font-family: "violeta", sans-serif;
  font-style: italic;
  font-weight: normal;
  text-decoration: none;
  transition: transform 0.2s, background 0.2s;
}

.btn:hover {
  background: #008e80;
  transform: translateY(-3px);
}

.divider {
  width: 2px;
  height: 48px;
  background: none;
  border-radius: 2px;
}




