:root {
  --beige: #fff7e6;
  --accent: #111;
  --purple: #604aa7;
}

body, html {
  margin: 0;
  padding: 0;
  background-image: url("img/bedbgr.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  font-family: "violeta", sans-serif;
}

/* Buttons */
.btn-icon {
  position: absolute;
  width: 80px;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
  z-index: 9999;
}

.btn-icon:hover {
  transform: scale(1.05);
}

/* Inventory Button */
.btn-inventory {
  top: 20px;
  left: 20px;
  background-image: url('img/invenbut.png');
}

.btn-inventory:hover {
  transform: rotate(45deg);
}

/* Settings Button */
.btn-settings {
  top: 20px;
  right: 20px;
  background-image: url('img/setbut.png');
}

.btn-settings:hover {
  transform: rotate(90deg);
}

/* Inventory Panel */
.inventory-bar {
  position: absolute;
  top: 15px;
  left: 120px; /* nằm ngay sau nút inventory */
  display: flex;
  gap: 10px;
  align-items: center;
  background: #1a2851;
  border: 3px solid #000;
  border-radius: 12px;
  padding: 10px 15px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
  z-index: 9999;
}

.inventory-bar.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.inventory-slot {
  width: 60px;
  height: 60px;
  background-image: url('img/rec1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #000; 
  border-radius: 8px;
}

.inventory-slot img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
}

.inventory-slot img:hover {
  transform: scale(1.05);
}

.room {
  position: absolute;
  inset: 0;
  display: none;
  transition: opacity 0.5s ease;
}

.room.active {
  display: block;
  opacity: 1;
}

.room-object {
  position: absolute;
  bottom: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Bedroom object */
.bed {
  top: 330px;
  right: 60px;
  width: 600px;
  height: auto;
  z-index: 2;
}

.desk {
  top: 327.5px;
  right: 629.5px;
  width: 258px;
  height: auto;
  z-index: 1;
}

.desk:hover{
  transform: scale(1.05);
}

.desk1 {
  top: 50px;
  right: 500px;
  width: 400px;
  height: auto;
  z-index: 1;
}

.door {
  left: 120px;
  bottom: -80px;
  width: 190px;
  transition: transform 0.2s;
}

.door:hover {
  transform: scale(1.05);
}

.book{
  top: 68px;
  right: 530px;
  width: 350px;
  height: auto;
  z-index: 1;
}

.cert{
  top: 150px;
  right: 645px;
  width: 220px;
  height: auto;
  z-index: 1;
}

.cup{
  top: 145px;
  right: 525px;
  width: 100px;
  height: auto;
  z-index: 1;
}

.dish{
  top: 300px;
  right: 525px;
  width: 100px;
  height: auto;
  z-index: 1;
}

.soursop{
  top: 260px;
  right: 525px;
  width: 100px;
  height: auto;
  z-index: 1;
}

.pillow{
  top: 440px;
  right: 105px;
  width: 200px;
  height: auto;
  z-index: 2;
}

.pillow:hover{
  transform: scale(1.05);
}
/* Kitchen object */
.ladder{
  top: 0px;
  right: -350px;
  width: 1000px;
}

.ladder:hover{
 transform: scale(1.05);
}

.table {
  left: 700px;
  bottom: 30px;
  width: 550px;
  z-index: 2;
}

.stove {
  right: 940px;
  bottom: 100px;
  width: 600px;
  z-index: 1;
}

.dishes{
  right: 1040px;
  bottom: 400px;
  width: 400px;
  z-index: 1;
}

.carpet{
  right: 1080px;
  bottom: 15px;
  width: 280px;
  z-index: 1;
}

.cab{
  right: 1100px;
  bottom: 100px;
  width: 295px;
  z-index: 2;
}

.dish1{
  left: 920px;
  bottom: 250px;
  width: 150px;
  z-index: 3;
}

.safe1{
  left: 1300px;
  bottom: 250px;
  width: 150px;
  z-index: 2;
}

.papaya{
  left: 1330px;
  bottom: 250px;
  width: 80px;
  z-index: 3;
}

.safe{
  left: 1300px;
  bottom: 250px;
  width: 150px;
  z-index: 4;
}

/* ===== Pillow Modal ===== */
.pillow-modal, .desk-modal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 30;
  justify-content: center;
  align-items: center;
}

.pillow-content{
  background-image: url('img/bedmodal.png');
  background-size: contain;
  padding: 20px;
  border-radius: 12px;
  width: 590px;
  height: 330px;
  text-align: center;
}

.key{
  top: 280px;
  right: 750px;
  width: 40px;
}

/* ===== Desk Modal ===== */

.desk-content {
  background-color: #51a3ca;
  padding: 20px;
  border-radius: 12px;
  width: 590px;
  height: 330px;
  text-align: center;
}

.hint1{
  top: 200px;
  right: 480px;
  width: 570px;
}

.jade1{
  top: 430px;
  right: 700px;
  width: 60px;
}

.fig{
  top: 230px;
  right: 550px;
  width: 200px;
}

/* ===== Cab Modal ===== */
.cab-modal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 30;
  justify-content: center;
  align-items: center;
}

.cab-content {
  background-image: url('img/cabmodal.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 590px;
  height: 330px;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
}

.coconut{
  top: 210px;
  right: 850px;
  width: 140px;
}

.mango{
  top: 415px;
  right: 550px;
  width: 150px;
}

/* ===== Tooltip ===== */
.tooltip {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 6px 12px;
  background-color: rgba(255,255,255,0.9);
  color: #111;
  font-size: 20px;
  font-family: "violeta", sans-serif;
  border: 2px solid #111;
  border-radius: 8px;
  display: none; /* chỉ hiện khi hover */
  white-space: nowrap;
  z-index: 25;
}

.collectible:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.draggable {
  cursor: grab;
}

.draggable:active {
  cursor: grabbing;
}
